<div class="login-page">
  <div class="login_box">
    <div class="login_content">
      <div class="title">张掖应急程序</div>

      <form (submit)="login(username, password)">
        <div class="input_box">
          <i class="username"></i>
          <input type="text" placeholder="请输入用户名" [(ngModel)]="username" name="username" />
        </div>

        <div class="input_box">
          <i class="password"></i>
          <input type="password" placeholder="请输入密码" [(ngModel)]="password" name="password" />
        </div>

        <div class="remember">
          <input type="checkbox" /><span>记住用户名</span>
          <span class="forget">忘记密码？</span>
        </div>
      </form>

      <span class="login" (click)="login(username, password)">登录</span>
    </div>
  </div>
</div>
