<div class="login-page">
  <div class="login_box">
    <div class="login_content">
      <div class="title">张掖应急系统</div>

      <form (submit)="login(username, password)">
        <div class="input_box">
          <i class="username"></i>
          <input type="text" placeholder="请输入用户名" [(ngModel)]="username" name="username" />
        </div>

        <div class="input_box">
          <i class="password"></i>
          <input type="password" placeholder="请输入密码" [(ngModel)]="password" name="password" />
        </div>

        <button class="login" (click)="login()">登录</button>
      </form>

    </div>
  </div>
</div>
