<div class="header" *ngIf="authService.checkLogin()">
  <h1>{{title}}</h1>

  <ul class="nav-bar">
    <li class="nav-item">
      <div>
        <i class="fa fa-file-text"></i>
        <!--放一张图分类-->
        一张图管理
        <span class="fa fa-angle-down"></span>
      </div>
      <ul class="nav-menu">
        <li class="nav-menu-item">后台管理</li>
        <li class="nav-menu-item">后台管理</li>
        <li class="nav-menu-item">后台管理</li>
      </ul>
    </li>
    <li class="nav-item">
      <div>
        <i class="fa fa-database"></i>
        <!--放后台三个数据管理栏-->
        数据管理
        <span class="fa fa-angle-down"></span>
      </div>
    </li>
    <li class="nav-item">
      <div>
        <i class="fa fa-bell"></i>
        <!--放后台三个预警管理栏-->
        预警管理
        <span class="fa fa-angle-down"></span>
      </div>
    </li>
    <li class="nav-item">
      <div>
        <i class="fa fa-user-circle-o"></i>
        <!--放后台用户管理栏-->
        用户管理
        <span class="fa fa-angle-down"></span>
      </div>
    </li>
  </ul>

</div>
<router-outlet></router-outlet>
