#map {
  height: 100%;
}

.app-content {
  height: 100%;
  padding: 70px 0 0;
  overflow: hidden;
}

.nav {
  float: left;
  padding: 70px 0 0;
  width: 200px;
  height: 100%;
}
.nav ul {
  width: 100%;
  height: 100%;
  background-color: #1e2f49;
  border: 1px solid #5aaadb;
  overflow-y: auto;
}
.nav ul:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #98d8fe;
}
.nav ul li {
  padding: 15px 0 15px 20px;
  width: 100%;
  border-bottom: 1px solid #5aaadb;
  background-color: #e6f2ff;
  color: #000;
  cursor: pointer;
  transition: all .5s;
  overflow: hidden;
  text-overflow: ellipsis;
  word-spacing: normal;
}
.nav ul li:hover {
  background: #1e2f49;
  color: #fff;
}

.page-detail {
  width: 100%;
  height: 100%;
  border-left: 1px solid #ccc;
  overflow-y: auto;
}

footer {
  border-top: 1px solid #ccc;
  text-align: center;
}
footer p {
  line-height: 69px;
}
