<div class="p15">

  <div class="add">
    <h4 class="admin-title">{{ hintText }}管理</h4>
    <div class="add-button">
      <button class="btn btn-primary btn-sm" (click)="openAddModal(Add)">
        <i class="fa fa-plus"></i> 添加
      </button>
    </div>
  </div>

  <table class="table table-hover table-bordered">
    <thead class="table-active">
    <th>ID</th>
    <th>名称</th>
    <th>地址</th>
    <th>经纬度</th>
    <th>所属集合</th>
    <th>更新时间</th>
    <th>操作</th>
    </thead>
    <tbody *ngIf="dataList">
    <tr *ngFor="let data of dataList">
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.address }}</td>
      <td>{{ data.longitude + ' , ' + data.latitude }}</td>
      <td>{{ data.dataSet.name }}</td>
      <td>{{ data.updatedTime }}</td>
      <td>
        <button class="btn btn-primary btn-sm" title="编辑" (click)="openEditModal(Edit, data)">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="btn btn-danger btn-sm" title="删除" (click)="openDeleteModal(Delete, data)">
          <i class="fa fa-times"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #Add>
  <div class="modal-header">
    <h4 class="modal-title">新增{{ hintText }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="addModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm" (submit)="addConfirmation(addForm)">
      <button class="hideSubmitButton" type="submit"></button>
      <div class="form-group">
        <label for="name">{{ hintText }}名称:</label>
        <input type="text" id="name" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label for="type">类型:</label>
        <select class="form-control" id="type"  formControlName="inputType">
          <option *ngFor="let type of typeList" [value]="type.id">{{ type.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="setting">资源配置:</label>
        <input type="text" id="setting" class="form-control" formControlName="inputSetting">
      </div>
      <div class="form-group">
        <label for="source">来源:</label>
        <input type="text" id="source" class="form-control" formControlName="inputSource">
      </div>
      <div class="form-group">
        <label for="longitude">经度:</label>
        <input type="text" id="longitude" class="form-control" formControlName="longitude">
      </div>
      <div class="form-group">
        <label for="latitude">纬度:</label>
        <input type="text" id="latitude" class="form-control" formControlName="latitude">
      </div>
      <div class="form-group">
        <label for="address">地址:</label>
        <input type="text" id="address" class="form-control" formControlName="address">
      </div>
      <div class="form-group">
        <label for="other">其他:</label>
        <input type="text" id="other" class="form-control" formControlName="otherValues">
      </div>
      <div class="form-group">
        <label for="dataSources">数据源(集合):</label>
        <select class="form-control" id="dataSources"  formControlName="dataSetId">
          <option *ngFor="let dataSources of dataSourcesList" [value]="dataSources.id">{{ dataSources.name }}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="addConfirmation(addForm)">确定</button>
    <button class="btn btn-default btn-sm" (click)="addModalRef.hide()">取消</button>
  </div>
</ng-template>

<ng-template #Edit>
  <div class="modal-header">
    <h4 class="modal-title">修改{{ hintText }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="editModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" (submit)="editConfirmation(editForm)">
      <button class="hideSubmitButton" type="submit"></button>
      <div class="form-group">
        <label for="edit-name">{{ hintText }}名称:</label>
        <input type="text" id="edit-name" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label for="edit-type">类型:</label>
        <select class="form-control" id="edit-type"  formControlName="inputType">
          <option *ngFor="let type of typeList" [value]="type.id">{{ type.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="edit-setting">资源配置:</label>
        <input type="text" id="edit-setting" class="form-control" formControlName="inputSetting">
      </div>
      <div class="form-group">
        <label for="edit-source">来源:</label>
        <input type="text" id="edit-source" class="form-control" formControlName="inputSource">
      </div>
      <div class="form-group">
        <label for="edit-longitude">经度:</label>
        <input type="text" id="edit-longitude" class="form-control" formControlName="longitude">
      </div>
      <div class="form-group">
        <label for="edit-latitude">纬度:</label>
        <input type="text" id="edit-latitude" class="form-control" formControlName="latitude">
      </div>
      <div class="form-group">
        <label for="edit-address">地址:</label>
        <input type="text" id="edit-address" class="form-control" formControlName="address">
      </div>
      <div class="form-group">
        <label for="edit-other">其他:</label>
        <input type="text" id="edit-other" class="form-control" formControlName="otherValues">
      </div>
      <div class="form-group">
        <label for="edit-dataSources">数据源(集合):</label>
        <select class="form-control" id="edit-dataSources"  formControlName="dataSetId">
          <option *ngFor="let dataSources of dataSourcesList" [value]="dataSources.id">{{ dataSources.name }}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="editConfirmation(editForm)">确定</button>
    <button class="btn btn-default btn-sm" (click)="editModalRef.hide()">取消</button>
  </div>
</ng-template>

<ng-template #Delete>
  <div class="modal-header">
    <h4 class="modal-title">删&nbsp;除{{ hintText }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>你确定要删除吗?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="deleteConfirmation()">确定</button>
    <button class="btn btn-default btn-sm" (click)="deleteModalRef.hide()">取消</button>
  </div>
</ng-template>
