html {
  height: 100%;
}
body {
  height: 100%;
  min-width: 800px;
  min-height: 600px;
}
td {
  min-width: 100px;
}

/* public */
.p15 {
  height: 100%;
  padding: 15px;
  overflow-y: auto;
}
.add {
  position: relative;
  margin: 10px 0;
  min-height: 31px;
}
.admin-title {
  min-height: 31px;
  line-height: 31px ;
  font-size: 18px;
  font-weight: bold;
}
.add-button {
  position: absolute;
  top: 0;
  right: 10px;
}
.hideSubmitButton {
  display: none;
}
.active-link {
  background: #3786ff!important;
  color: #fff!important;
}
/*ng2-select*/
.ui-select-choices.dropdown-menu {
  display: block;
}
.ui-select-match-item {
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.search select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0 10px;
}
.search input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px 10px 0;
}
.search .fa-search {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}
